.top-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.top-page {
  margin: 0px 0px 0px 0px;
}
.to-login {
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0px 0px 0px 0px;
}

.bottun {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none !important;
  border-radius: 4px;
}
.bottun:hover {
  background-color: #000088;
}
.header {
  height: 100px;
  border-bottom: 3px solid #000;
}
h1.title {
  font-size: 15px;
  align-items: flex-start;
}
